# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
venv/
env/
env.bak/

# Development tools
.idea/
.vscode/
*.swp
*.swo

# Compiled files
*.o
*.pyc
*.so
*.dll

# Distribution / packaging
dist/
build/
*.egg-info/
!data/

# Ignore the data/* directory
data/*
outputs/*
